@media only screen and (max-width: 568px)
    // exhibition title
    .exhibition-title
        span
            font-size: 2.25rem

    // default text block
    .defaultstyle
        font-size: 13px
        padding: 0 15%
        margin-bottom: 3rem

    // parts header
    .parts-header
        padding: 0 15%

    // large image
    .large-image-container
        width: 100vw
        margin: 0 auto 2rem

    .large-image-style
        width: 70%

    .large-image-caption
        width: 70%
        font-size: 12px
        letter-spacing: 0

    .large-image-caption-jp
        width: 70%
        font-size: 13px
        letter-spacing: 0

    // full width image
    .fullwidthContainerstyle
        margin: 1.5rem auto 1.5rem

    // two images
    .two-images-flexbox
        flex-direction: column
        justify-content: center
        width: 100vw
        margin: 0
        div
            width: 70%
            margin-bottom: 2rem
            img
                width: 100%

    .two-images-caption
        font-size: 12px
        letter-spacing: 0

    .two-images-caption-jp
        font-size: 13px
        letter-spacing: 0

    // two images variation
    .two-images-var
        flex-direction: column
        margin: 2rem 15% 2rem
        .image1, .image2
            width: 100%
            padding: 0

    // text left image right, text right image left
    .text-image-flexbox
        flex-direction: column
        padding: 0 15% 1rem
        .text-column
            width: 100%
            margin-bottom: 2rem
        .image-column
            width: 100%
            img
                width: 100%

    .text-left-flexbox
        flex-direction: column
        justify-content: center
        width: 70vw
        margin: 0 15%

    .text-left-container
        width: 100%
        margin-left: 30vw

    .text-left-image
        width: 70vw

    .text-left-left-column
        width: 70vw
        font-size: 13px
        margin-bottom: 1.5rem


    // timeline
    .timeline-container
        width: 70%
        font-size: 12px
        margin: 0 15vw 4rem


    // parts, section header
    .section-header
        padding: 0 15%
        margin-top: 2rem

    .parts-header
        margin-top: 2rem
        // margin-bottom: 2rem

    .quicklink
        padding: 0 15%
        flex-direction: column
        line-height: 1.6

    .endnotes
        padding: 0 15%

    .read-more-less
        margin: 0 15% 3rem

    .essay-intro
        .text, .note
            padding: 0 15%

    .pullquote, .pullquote2
        margin-left: 0
        padding: 0 15%
        font-size: 2rem

    .pullquote2
        margin: 6rem 0 0 -2rem

    .sidemenu
        width: 60px
        ul
            padding-left: 15px

    .theVideo
        max-width:94%
        padding-bottom: 52.875%

    .quoteStyle
        padding: 0 19%

    .rep-container
        width: 100%
        margin: 0
        div
            flex-direction: column
            margin: 0   
            &:first-child
                margin-bottom: 2rem         
            img
                margin: 2rem auto 0
                width: 70%
                &:first-child
                    margin-top: 0
            &:last-child
                width: 70%
                margin: auto
                margin-top: 1rem

// iPhone 5
@media only screen and (max-width: 320px)
    .pullquote, .pullquote2
        font-size: 1.75rem