.containerstyle
    width: 94vw
    margin: 0 auto 4rem
    img
        width: 100%

.containerstyle.notFirst
    margin: 0 auto 6rem

.nav-link
    display: flex
    justify-content: center
    margin: 0 0 4rem
    a
        font-family: 'Quicksand', sans-serif
        font-size: 18px
        text-align: center
        padding: 0 40px
        border: none
        background: none
        color: black
        font-weight: 600
        cursor: pointer
        letter-spacing: 1.33px
        transition: 0.3s
        &:hover
            color: gray
            text-decoration: underline

.nav-linkJP
    display: flex
    justify-content: center
    margin: 0 0 4rem
    a
        font-size: 16px
        text-align: center
        padding: 0 40px
        border: none
        background: none
        color: black
        font-weight: 600
        cursor: pointer
        letter-spacing: 1.33px
        transition: 0.3s
        &:hover
            color: gray
            text-decoration: underline

.active-link
    color: grey !important
    text-decoration: underline
    &:hover
        color: #000 !important

/* video VIP page 1 */
.iframe
    display: block
    margin: 0 auto 6rem
    &:first-child
        margin-bottom: 4rem

.video-responsive2-vip
    margin-bottom: 6rem

/* Fullwidth Horizontal */
.fullwidth-container
    width: 95vw
    margin: 0 auto 6rem
    text-align: center
    img
        margin: 0 auto 1rem
    div
        margin: 1rem auto 0
        text-align: left
        letter-spacing: 0
        h2
            padding-bottom: 0.5rem
            color: #515151
            font-size: 24px
            font-weight: 600
        p
            margin-bottom: 0.2rem
            font-size: 12px //11px
            line-height: 1
            color: gray
    div.text-caption
        display: flex
        flex-direction: column
        margin-top: -1rem
        p
            letter-spacing: 0
            line-height: 1.4
            font-size: 14px
            color: gray
            margin-bottom: 1rem

.fullwidth-modifier-eng
    font-family: 'Quicksand', sans-serif
    div
        p
            font-size: 11px

// Halfwidth Horizontal with Text
.halfwidthText-container
    width: 100%
    margin: 0 auto 6rem

.halfwidthText-row
    width: 100%
    display: flex
    flex-wrap: wrap
    align-items: center

.halfwidthText-column
    width: 50%
    margin: auto

.inner-left
    margin: 2rem 1rem 0 2rem
    text-align: center
    img
        margin: 2rem 0 1rem
        text-align: right
    div
        text-align: left
        margin: 0 auto
        letter-spacing: 0
        h2
            font-size: 24px
            font-weight: 600
            color: #515151
            text-align: left
            padding-bottom: 0.5rem
            letter-spacing: 0
        p
            font-size: 12px
            line-height: 1
            margin-bottom: 0.2rem
            color: gray

.inner-right
    margin: 0 2rem 0 1rem
    text-align: center
    p
        font-size: 14px
        line-height: 1.4
        letter-spacing: 0
        color: gray
        padding-right: 8rem
        text-align: left

.halfwidthText-modifier-eng
    font-family: 'Quicksand', sans-serif
    div
        p
            font-size: 11px

/* Halfwidth Horizontal */
.halfwidth-horizontal
    margin-bottom: 6rem
    width: 100%
    display: flex
    justify-content: space-evenly
    align-items: center
    div
        img
            width: 100%
            margin: auto
            display: block
            margin-bottom: 0.66rem
        h2
            padding-bottom: 0.5rem
            color: #515151
            font-size: 24px
            font-weight: 600
        p
            margin-bottom: 0.2rem
            font-size: 12px //11px
            line-height: 1
            color: gray

.halfwidth-modifier-eng
    div
        font-family: 'Quicksand', sans-serif
        letter-spacing: 0
        p
            font-size: 11px

/* Inquiry */
.worklist-download
    margin: 4rem 0
    text-align: center
    a
        font-family: 'Quicksand', sans-serif
        font-size: 14px
        letter-spacing: 0

.inquiry
    font-family: 'Quicksand', sans-serif
    font-size: 14px
    text-align: center
    letter-spacing: 0
    margin: 2rem 0 3rem

.worklist-downloadJP
    margin: 2rem 0
    text-align: center
    a
        font-size: 14px
        letter-spacing: 0

.inquiryJP
    font-size: 14px
    text-align: center
    margin: 2rem 0 3rem

a.nextEng
    h2
        font-family: 'Quicksand', sans-serif
        font-size: 18px
        text-align: center
        padding-bottom: 0.5rem
        /* not fully comprehend WHY but apparently adding the padding-bottom removes a bug that prevented to scroll the English VIP page properly */

a.nextJp
    h2
        font-size: 18px
        text-align: center
        margin: 0 40px
