// VARIABLES
$font-defaultJP: 'FOT-筑紫オールド明朝 Pro R', serif
    
.anchordiv
    padding-top: 100px
    margin-top: -100px
    
// exhibition title
.title-containerJP
    display: flex
    justify-content: center

.title-container2JP
    display: flex
    justify-content: center
    text-align: center

.title-styleJP
    font-size: 3.8rem
    font-family: $font-defaultJP
    margin-bottom: 20px
    text-align: center
    letter-spacing: 0

.title-datesJP
    font-size: 1rem
    line-height: 1.4
    margin-bottom: 60px
    letter-spacing: 0

// default text block
.defaultstyleJP
    padding-top: 0 30%
    line-height: 1.6
    font-size: 14px

// text left image right
.text-left-flexboxJP
    display: flex
    justify-content: space-evenly
    align-items: center
    margin: 60px 80px

.text-left-containerJP,
.text-left-imageJP,
.text-right-containerJP
    width: 30vw

.text-left-left-columnJP,
.text-right-left-columnJP
    width: 30vw
    line-height: 1.6
    font-size: 14px
    letter-spacing: 0

.text-left-captionJP
    text-align: left
    color: #525252
    font-size: 0.75rem
    letter-spacing: 0
    line-height: 1.4
    margin-top: 5px


// parts
.parts-headerJP
    padding: 40px 30% 0
    font-size: 1.6rem
    font-weight: 500
    margin-bottom: 3rem

.quicklinkJP
    padding-top: 0 30%
    line-height: 1,.6
    letter-spacing: 0
    font-size: 14px
    margin-bottom: 2.5rem
    display: flex

.quicklink-pJP
    font-synthesis: 13px
    color: #525252
    cursor: pointer
    margin-right: 20px

.mobileJP
    display: none

.read-more-or-lessJP
    margin: 7px 30% 3rem
    background: none
    color: grey
    border: none
    cursor: pointer
    padding: 0
    font-size: 14px
    position: relative
    z-index: 99

.endnotesJP
    padding: 0 30%
    line-height: 1.6
    letter-spacing: 0
    font-size: 12px
    margin-bottom: 2rem

.essay-intro-containerJP
    line-height: 1.6
    font-size: 13px
    padding: 0 30%
    color: #525252

.essay-introJP
    margin: 2rem 0 0


// timeline
.timeline-containerJP
    width: 55vw
    margin: 4rem auto 8rem
    line-height: 1.6
    letter-spacing: 0
    font-size: 14px

.timeline-rowJP
    width: 100%
    display: flex
    justify-content: flex-start
    align-items: flex-start

.timeline-leftcolumnJP
    width: 15%

.timeline-rightcolumnJP
    width: 85%


// video
.video-responsive2
    margin-bottom: 6rem


// section header
.section-headerJP
    font-size: 1.6
    font-weight: 500
    letter-spacing: 0
    margin-bottom: 1rem
    padding: 40px 30% 0


// link for work list
.listcontainerJP
    display: flex
    justify-content: center
    margin: 4rem 0

.listlinkJP
    font-size: 14px
    letter-spacing: 0
    text-align: center