// tablet
// 768px is the breakpoint the Shibunkaku homepage uses to switch to mobile menu

// below:
// iPad 1st + 2nd gen, iPad Mini 1
// iPad 7th, 8th gen
// iPad 3rd-6th gen, iPad Pro 9.7", iPad Air 1 + 2, iPad Mini 2-4 
// iPad Pro 


=ipad-portraitJP
    .defaultstyleJP, 
    .essay-introJP, 
    .endnotesJP
        padding: 0 20%
    .essay-intro-containerJP
        padding: 0
    .parts-headerJP, 
    .section-headerJP
        padding: 40px 20% 0
    .quicklinkJP
        padding: 0 10% 0 20%
    .read-more-or-lessJP
        margin: 0.5rem 20% 1.5rem
    .theVideoJP
        max-width: 70%
        padding-bottom: 39.375%
    .text-image-flexboxJP
        justify-content: space-around
        .image-columnJP, .text-columnJP
            width: 32.5vw
        .image-columnJP
            img
                width: 32.5vw
    .large-image-caption-jp
        width: 70%

=ipad-landscapeJP
    .quicklinkJP
        padding: 0 10% 0 30%
        // allow to overflow to the right


// iPad Pro
@media only screen and (min-width: 1024px) and (max-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2)
    +ipad-portraitJP

@media only screen and (min-width: 1366px) and (max-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2)
    +ipad-landscapeJP

    

// iPad 7th, 8th gen
@media only screen and (min-device-width: 810px) and (max-device-width: 810px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2)
    +ipad-portraitJP

@media only screen and (min-device-width: 1080px) and (max-device-width: 1080px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2)
    +ipad-landscapeJP



// iPad 3rd-6th gen, iPad Pro 9.7", iPad Air 1 + 2, iPad Mini 2-4  
@media only screen and (min-device-width: 768px) and (max-device-width: 768px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2)
    +ipad-portraitJP

@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2)
    +ipad-landscapeJP



// iPad 1st + 2nd gen, iPad Mini 1
@media only screen and (max-width: 768px)
    +ipad-portraitJP
