.App {
  overflow-x: hidden;
}

p .App {
  all: unset;
}

button:focus {
  outline: 0;
}

.anchordiv {
  padding-top: 100px;
  margin-top: -100px;
}

a[data-tool-tip] {
  position: relative;
}
a[data-tool-tip]::after {
  content: attr(data-tool-tip);
  text-align: left;
  width: 30vw;
  display: block;
  position: absolute;
  background-color: #f0f0f0;
  padding: 0.8rem 1.2rem;
  border-radius: 8px;
  bottom: 1.3rem;
  left: -10rem;
  transition: transform ease-in 0.2s;
  transform: scale(0);
  transform-origin: 10rem 100%;
  font-size: 0.75rem;
}
a[data-tool-tip]:hover {
  cursor: pointer;
}
a[data-tool-tip]:hover::after {
  transform: scale(1);
}

.exhibition-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.exhibition-title span {
  font-family: "Cormorant", serif;
  font-size: 3.8rem;
  margin: 0 0 20px 0;
  padding: 0;
  color: #000;
  line-height: 1.6;
  letter-spacing: 0;
}
.exhibition-title p {
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  margin: 0 0 60px 0;
  padding: 0;
  color: #000;
  line-height: 1.4;
  letter-spacing: 0;
}

.defaultstyle {
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  margin: 0 0 4rem;
  padding: 0 30%;
  color: #000;
  line-height: 1.6;
  letter-spacing: 0;
}

.large-image-container {
  width: 94vw;
  margin: 20px auto 60px;
  text-align: center;
}
.large-image-container img {
  width: 60%;
  margin: 0 auto;
}

.large-image-caption {
  width: 60%;
  text-align: left;
  font-family: "Quicksand", sans-serif;
  font-size: 0.75rem;
  margin: auto;
  padding: 5px 0 0 0;
  color: grey;
  line-height: 1.4;
  letter-spacing: 0;
}

.large-image-caption-jp {
  width: 60%;
  text-align: left;
  font-size: 0.75rem;
  margin: auto;
  padding: 5px 0 0 0;
  color: grey;
  line-height: 1.4;
  letter-spacing: 0;
}

.fullwidthContainerstyle {
  width: 94vw;
  margin: 20px auto 60px;
  text-align: center;
}
.fullwidthContainerstyle img {
  width: 100%;
  margin: 0 auto 0.25rem;
}

.two-images-flexbox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 6rem 5rem 2rem;
}
.two-images-flexbox div {
  width: 30vw;
  margin-bottom: 2rem;
}
.two-images-flexbox div img {
  width: 30vw;
}

.two-images-caption,
.fullwidth-image-caption {
  text-align: left;
  font-family: "Quicksand", sans-serif;
  font-size: 0.75rem;
  margin: 5px 0 0 0;
  padding: 0;
  color: grey;
  line-height: 1.4;
  letter-spacing: 0;
}

.two-images-caption-jp,
.fullwidth-image-caption-jp {
  text-align: left;
  font-size: 0.75rem;
  margin: 5px 0 0 0;
  padding: 0;
  color: grey;
  line-height: 1.4;
  letter-spacing: 0;
}

.two-images-var {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 6rem 120px 2rem;
}
.two-images-var .image1 {
  width: 65%;
  margin-bottom: 2rem;
  text-align: center;
  padding-right: 2rem;
}
.two-images-var .image2 {
  width: 35%;
  margin-bottom: 2rem;
  text-align: center;
  padding-right: 2rem;
}
.two-images-var .image1 .imagesub, .two-images-var .image2 .imagesub {
  width: 100%;
  text-align: center;
  margin: auto;
}
.two-images-var .image1 .imagesub img, .two-images-var .image2 .imagesub img {
  width: 100%;
}

.text-image-flexbox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem 5rem;
  margin-bottom: 2rem;
}
.text-image-flexbox .text-column {
  width: 30vw;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: #000;
  line-height: 1.6;
  letter-spacing: 0;
}
.text-image-flexbox .image-column {
  width: 30vw;
}
.text-image-flexbox .image-column img {
  width: 30vw;
}
.text-image-flexbox .image-column p {
  text-align: left;
  font-family: "Quicksand", sans-serif;
  font-size: 0.75rem;
  margin: 5px 0 0 0;
  padding: 0;
  color: grey;
  line-height: 1.4;
  letter-spacing: 0;
}

.timeline-container {
  width: 55vw;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  margin: 4rem auto 8rem;
  padding: 0;
  color: #000;
  line-height: 1.6;
  letter-spacing: 0;
}
.timeline-container div {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
.timeline-container div div {
  display: block;
}
.timeline-container div div:first-child {
  width: 15%;
}
.timeline-container div div:last-child {
  width: 85%;
}

.parts-header {
  font-family: "Cormorant", serif;
  font-size: 1.6rem;
  margin: 2rem 0 3rem 0;
  padding: 40px 30% 0;
  color: #000;
  line-height: 1;
  letter-spacing: 0;
  font-weight: 500;
}

.section-header {
  font-family: "Cormorant", serif;
  font-size: 1.6rem;
  margin: 0 0 3rem 0;
  padding: 40px 30% 0;
  color: #000;
  line-height: 1;
  letter-spacing: 0;
  font-weight: 500;
}

.quicklink {
  display: flex;
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
  margin: 0 0 2.5rem 0;
  padding: 0 20% 0 30%;
  color: grey;
  line-height: 1.6;
  letter-spacing: 0;
}
.quicklink a p {
  cursor: pointer;
  margin: 0 20px 0 0;
  padding: 0;
  color: grey;
  transition: 0.2s;
}
.quicklink a p:hover {
  color: #4a4a4a;
}

.endnotes {
  font-family: "Quicksand", sans-serif;
  font-size: 11px;
  margin: 0 0 2rem 0;
  padding: 0 30%;
  color: #000;
  line-height: 1.6;
  letter-spacing: 0;
}

.read-more-less {
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  margin: 7px 30% 3rem;
  padding: 0;
  color: #c0c0c0;
  line-height: 1;
  letter-spacing: 0;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 99;
  transition: 0.3s;
}
.read-more-less:hover {
  color: #4a4a4a;
}

.essay-intro {
  margin: 2rem 0 3rem;
}
.essay-intro .text {
  font-family: "Quicksand", sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0 30%;
  color: grey;
  line-height: 1.4;
  letter-spacing: 0;
}
.essay-intro .note {
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0 30%;
  color: grey;
  line-height: 1.4;
  letter-spacing: 0;
}

.pullquote {
  font-family: "Cormorant", serif;
  font-size: 3.8rem;
  margin: 0 0 2rem -5rem;
  padding: 0 30%;
  color: #000;
  line-height: 1;
  letter-spacing: 0;
  margin-bottom: 8rem;
}
.pullquote p {
  opacity: 0;
  white-space: nowrap;
  line-height: 0.05;
}
.pullquote p:nth-child(3) {
  animation-delay: 0.25s;
}
.pullquote p:nth-child(5) {
  animation-delay: 0.5s;
}
.pullquote p:nth-child(7) {
  animation-delay: 0.75s;
}
.pullquote p:nth-child(9) {
  animation-delay: 1s;
}

.pullquote2 {
  font-family: "Cormorant", serif;
  font-size: 3.8rem;
  margin: 0 0 0 0;
  padding: 0 20% 0 40%;
  color: #000;
  line-height: 1;
  letter-spacing: 0;
  margin: 6rem 0 -4rem;
}
.pullquote2 p {
  opacity: 0;
  white-space: nowrap;
  line-height: 0.05;
}
.pullquote2 p:nth-child(3) {
  animation-delay: 0.25s;
}
.pullquote2 p:nth-child(5) {
  animation-delay: 0.5s;
}
.pullquote2 p:nth-child(7) {
  animation-delay: 0.75s;
}
.pullquote2 p:nth-child(9) {
  animation-delay: 1s;
}

.pullquote-animation p {
  animation-name: pullquoteAnim;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes pullquoteAnim {
  from {
    opacity: 0;
    transform: translate(0, 2rem);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.sidemenu-container {
  height: 100vh;
  background-color: none;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 80px;
  z-index: 1000;
  display: flex;
  align-items: center;
  transition: 0.5s;
}

.sidemenu-hidden {
  opacity: 0;
}

.sidemenu {
  position: fixed;
  display: block;
  background-color: white;
  width: 70px;
  height: 160px;
  left: -10px;
  border-radius: 10px;
  box-shadow: 4px 6px 5px 0px rgba(194, 194, 194, 0.33);
  font-family: "Quicksand", sans-serif;
  z-index: 999;
  transition: 0.3s;
  letter-spacing: 0;
}
.sidemenu ul {
  list-style: none;
  padding: 30px 0 0 20px;
}
.sidemenu ul li {
  line-height: 2;
  cursor: pointer;
}

.theVideo {
  position: relative;
  padding-bottom: 33.75%;
  padding-top: 0;
  overflow: hidden;
  max-width: 60%;
  margin: 4rem auto 6rem;
  height: auto;
}
.theVideo .iframe {
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
}

.quoteStyle {
  font-family: "Quicksand", sans-serif;
  font-size: 13px;
  margin: 0 0 2rem 0;
  padding: 0 32.5%;
  color: #000;
  line-height: 1.6;
  letter-spacing: 0;
}

.rep-container {
  display: block;
  margin: 4rem auto;
  width: calc( 75vw + 2rem );
}
.rep-container div {
  margin: 2rem 0 0 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.rep-container div:last-child {
  margin: 0.5rem 0 4rem 0;
}
.rep-container div img {
  width: 31%;
  height: auto;
}

.rep-defaultstyle,
.rep-defaultstyle_mobile {
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
  color: grey;
  line-height: 1.6;
  letter-spacing: 0;
}

.rep-defaultstyleJP,
.rep-defaultstyleJP_mobile {
  font-size: 12px;
  margin: 0;
  padding: 0;
  color: grey;
  line-height: 1.6;
  letter-spacing: 0;
}

.rep-defaultstyle_mobile,
.rep-defaultstyleJP_mobile,
.exInfoPhoneEN {
  display: none;
}

.exInfoDesktopEN {
  display: inline;
}

.listcontainer {
  display: flex;
  justify-content: center;
  margin: 6rem 0;
}
.listcontainer a {
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: #000;
  line-height: 1;
  letter-spacing: 0;
  text-align: center;
}

@media only screen and (min-width: 1024px) and (max-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  a[data-tool-tip]::after {
    width: 32.5vw;
  }

  .defaultstyle,
.endnotes {
    padding: 0 20%;
  }

  .essay-intro .text,
.essay-intro .note {
    padding: 0 20%;
  }

  .parts-header,
.section-header {
    padding: 40px 20% 0;
  }

  .parts-header {
    margin: 0 0 3rem;
  }

  .section-header {
    margin-bottom: 1rem;
  }

  .timeline-container {
    width: 60vw;
  }

  .quicklink {
    padding: 0 10% 0 20%;
  }

  .quoteStyle {
    padding: 0 25%;
  }

  .read-more-less {
    margin-left: 20%;
  }

  .large-image-container {
    width: 100vw;
  }
  .large-image-container img {
    width: 70%;
  }

  .large-image-caption {
    width: 70%;
  }

  .theVideo {
    max-width: 70%;
    padding-bottom: 39.375%;
  }

  .pullquote {
    margin: 0 0 6rem 0;
    padding-left: 20%;
  }

  .pullquote2 {
    padding: 2rem 20% 2rem 25%;
  }
}
@media only screen and (min-width: 1366px) and (max-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .pullquote {
    margin-bottom: 4rem;
  }

  .section-header {
    margin-bottom: 1rem;
  }

  .parts-header {
    padding: 40px 20% 0 30%;
  }
}
@media only screen and (min-width: 810px) and (max-width: 810px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  a[data-tool-tip]::after {
    width: 32.5vw;
  }

  .defaultstyle,
.endnotes {
    padding: 0 20%;
  }

  .essay-intro .text,
.essay-intro .note {
    padding: 0 20%;
  }

  .parts-header,
.section-header {
    padding: 40px 20% 0;
  }

  .parts-header {
    margin: 0 0 3rem;
  }

  .section-header {
    margin-bottom: 1rem;
  }

  .timeline-container {
    width: 60vw;
  }

  .quicklink {
    padding: 0 10% 0 20%;
  }

  .quoteStyle {
    padding: 0 25%;
  }

  .read-more-less {
    margin-left: 20%;
  }

  .large-image-container {
    width: 100vw;
  }
  .large-image-container img {
    width: 70%;
  }

  .large-image-caption {
    width: 70%;
  }

  .theVideo {
    max-width: 70%;
    padding-bottom: 39.375%;
  }

  .pullquote {
    font-size: 3rem;
    margin-bottom: 6rem;
  }

  .pullquote2 {
    font-size: 3rem;
    padding: 0 20% 2rem 25%;
  }
}
@media only screen and (min-width: 1080px) and (max-width: 1080px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .pullquote {
    font-size: 3rem;
    margin-bottom: 4rem;
  }

  .pullquote2 {
    font-size: 3rem;
    padding-bottom: 2rem;
  }

  .quicklink {
    padding: 0 10% 0 30%;
  }

  .section-header {
    margin-bottom: 1rem;
  }

  .parts-header {
    padding: 40px 20% 0 30%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 768px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  a[data-tool-tip]::after {
    width: 32.5vw;
  }

  .defaultstyle,
.endnotes {
    padding: 0 20%;
  }

  .essay-intro .text,
.essay-intro .note {
    padding: 0 20%;
  }

  .parts-header,
.section-header {
    padding: 40px 20% 0;
  }

  .parts-header {
    margin: 0 0 3rem;
  }

  .section-header {
    margin-bottom: 1rem;
  }

  .timeline-container {
    width: 60vw;
  }

  .quicklink {
    padding: 0 10% 0 20%;
  }

  .quoteStyle {
    padding: 0 25%;
  }

  .read-more-less {
    margin-left: 20%;
  }

  .large-image-container {
    width: 100vw;
  }
  .large-image-container img {
    width: 70%;
  }

  .large-image-caption {
    width: 70%;
  }

  .theVideo {
    max-width: 70%;
    padding-bottom: 39.375%;
  }

  .pullquote {
    font-size: 3rem;
    margin-bottom: 6rem;
  }

  .pullquote2 {
    font-size: 3rem;
    padding: 0 20% 2rem 25%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .pullquote {
    font-size: 3rem;
    margin-bottom: 4rem;
  }

  .pullquote2 {
    font-size: 3rem;
    margin-bottom: -4rem;
  }

  .quicklink {
    padding: 0 10% 0 30%;
  }

  .section-header {
    margin-bottom: 1rem;
  }

  .parts-header {
    padding: 40px 20% 0 30%;
  }
}
@media only screen and (max-width: 768px) {
  a[data-tool-tip]::after {
    width: 32.5vw;
  }

  .defaultstyle,
.endnotes {
    padding: 0 20%;
  }

  .essay-intro .text,
.essay-intro .note {
    padding: 0 20%;
  }

  .parts-header,
.section-header {
    padding: 40px 20% 0;
  }

  .parts-header {
    margin: 0 0 3rem;
  }

  .section-header {
    margin-bottom: 1rem;
  }

  .timeline-container {
    width: 60vw;
  }

  .quicklink {
    padding: 0 10% 0 20%;
  }

  .quoteStyle {
    padding: 0 25%;
  }

  .read-more-less {
    margin-left: 20%;
  }

  .large-image-container {
    width: 100vw;
  }
  .large-image-container img {
    width: 70%;
  }

  .large-image-caption {
    width: 70%;
  }

  .theVideo {
    max-width: 70%;
    padding-bottom: 39.375%;
  }

  .pullquote {
    font-size: 3rem;
    margin-bottom: 6rem;
  }

  .pullquote2 {
    font-size: 3rem;
    padding: 0 20% 2rem 25%;
  }
}
@media only screen and (max-width: 568px) {
  .exhibition-title span {
    font-size: 2.25rem;
  }

  .defaultstyle {
    font-size: 13px;
    padding: 0 15%;
    margin-bottom: 3rem;
  }

  .lessMaBo {
    margin-bottom: 1rem;
  }

  .large-image-container {
    width: 100vw;
    margin: 0 auto 2rem;
  }

  .large-image-caption {
    width: 70%;
    font-size: 12px;
    letter-spacing: 0;
  }

  .large-image-caption-jp {
    width: 70%;
    font-size: 13px;
    letter-spacing: 0;
  }

  .fullwidthContainerstyle {
    margin: 1.5rem auto 1.5rem;
  }

  .two-images-flexbox {
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    margin: 0;
  }
  .two-images-flexbox div {
    width: 70%;
    margin-bottom: 2rem;
  }
  .two-images-flexbox div img {
    width: 100%;
  }

  .two-images-caption {
    font-size: 12px;
    letter-spacing: 0;
  }

  .two-images-caption-jp {
    font-size: 13px;
    letter-spacing: 0;
  }

  .two-images-var {
    flex-direction: column;
    margin: 2rem 15% 2rem;
  }
  .two-images-var .image1, .two-images-var .image2 {
    width: 100%;
    padding: 0;
  }

  .text-image-flexbox {
    flex-direction: column;
    padding: 0 15% 1rem;
  }
  .text-image-flexbox .text-column {
    width: 100%;
    margin-bottom: 2rem;
  }
  .text-image-flexbox .image-column {
    width: 100%;
  }
  .text-image-flexbox .image-column img {
    width: 100%;
  }

  .TRIL-mobile {
    padding-bottom: 0;
  }

  .timeline-container {
    width: 70%;
    font-size: 12px;
    margin: 0 15vw 4rem;
  }

  .parts-header {
    padding: 0 15%;
    margin-top: 2rem;
  }

  .section-header {
    padding: 0 15%;
    margin-top: 2rem;
  }

  .quicklink {
    padding: 0 15%;
    flex-direction: column;
    line-height: 1.6;
  }

  .endnotes {
    padding: 0 15%;
  }

  .read-more-less {
    margin: 0 15% 3rem;
  }

  .essay-intro .text, .essay-intro .note {
    padding: 0 15%;
  }

  .pullquote, .pullquote2 {
    margin-left: 0;
    padding: 0 15%;
    font-size: 2rem;
  }

  .pullquote2 {
    margin: 6rem 0 0 -2rem;
  }

  .sidemenu {
    width: 60px;
  }
  .sidemenu ul {
    padding-left: 15px;
  }

  .theVideo {
    max-width: 94%;
    padding-bottom: 52.875%;
  }

  .quoteStyle {
    padding: 0 19%;
  }

  .rep-container {
    width: 100%;
    margin: 0;
  }
  .rep-container div {
    flex-direction: column;
    margin: 0;
  }
  .rep-container div:first-child {
    margin-bottom: 2rem;
  }
  .rep-container div img {
    margin: 2rem auto 0;
    width: 70%;
  }
  .rep-container div img:first-child {
    margin-top: 0;
  }
  .rep-container div:last-child {
    width: 70%;
    margin: auto;
    margin-top: 1rem;
  }
}
@media only screen and (max-width: 320px) {
  .pullquote, .pullquote2 {
    font-size: 1.75rem;
  }
}

/*# sourceMappingURL=App.css.map */
