/* phone */
@media screen and (max-width: 568px) {
    /* exhibition title */
    .title-style {
        font-size: 2rem;
    }

    .title-dates {
        font-size: 14px;
        margin-bottom: 40px;
    }

    /* default text block */
    .defaultstyle {
        padding: 0 15%;
        font-size: 13px;
    }

    /* large image */
    .large-image-container {
        width: 100vw;
        margin: 0 auto 1.5rem;
    }

    .large-image-style {
        width: 70%;
    }

    .large-image-caption {
        width: 70%;
        font-size: 12px;
        letter-spacing: 0;
    }

    .large-image-caption-jp {
        width: 70%;
        font-size: 13px;
        letter-spacing: 0;
    }

    /* full width image */
    .fullwidthContainerstyle {
        margin: 1.5rem auto 1.5rem;
    }

    /* two images */
    .two-images-flexbox {
        flex-direction: column;
        width: 70vw;
        margin: 0;
    }

    .two-images-container1 {
        width: 70vw;
        margin: 0 0 1.5rem 30vw;
    }

    .two-images-container2 {
        width: 70vw;
        margin: 0 0 1.5rem 30vw;
    }

    .two-images-imagestyle {
        width: 70vw;
    }

    .two-images-caption {
        font-size: 12px;
        letter-spacing: 0;
    }
    
    .two-images-caption-jp {
        font-size: 13px;
        letter-spacing: 0;
    }

    /* two images variation */
    .TIV-flexContainer {
        flex-direction: column;
        width: 70vw;
        margin-top: 0;
        margin: auto;
    }

    .TIV-imageContainer1 {
        width: 100%;
        margin-top: 0.5rem;
        padding-right: 0;
    }

    .TIV-imageContainer2 {
        width: 100%;
        padding-left: 0;
    }

    /* text left image right */
    .text-left-flexbox {
        flex-direction: column;
        justify-content: center;
        width: 70vw;
        margin: 0 15%;
    }

    .text-left-container {
        width: 100vw;
        margin-left: 30vw;
    }

    .text-left-image {
        width: 70vw;
    }

    .text-left-left-column {
        width: 70vw;
        font-size: 13px;
        margin-bottom: 1.5rem;
    }

    .TLIR-TRIL-caption {
        margin-bottom: 1.5rem;
        width: 70vw;
        font-size: 13px;
    }

    /* text right image left */
    .text-right-flexbox {
        flex-direction: column;
        justify-content: center;
        width: 70vw;
        margin: 0 15%;
    }

    .text-right-container {
        width: 100vw;
        margin-left: 30vw;
    }

    .text-right-image {
        width: 70vw;
    }

    .text-right-left-column {
        width: 70vw;
        font-size: 13px;
        margin-bottom: 2rem;
    }

    /* timeline */
    .timeline-container {
        width: 70vw;
        margin: 2rem auto 3rem;
        font-size: 12px;
    }

    /* parts */
    .parts-header {
        margin-bottom: 2rem;
        padding: 1.5rem 15% 10px;
    }

    /* section header */
    .section-header {
        margin-bottom: 1rem;
        padding: 40px 15% 0;
    }

    /* quick link */
    .quicklink {
        padding: 0 15%;
        flex-direction: column;
    }

    .quicklink-p {
        font-size: 12px;
    }

    .endnotes {
        padding: 0 15%;
    }

    .read-more-less {
        font-size: 12px;
        margin: 7px 15% 3rem;
    }

    /* intro to essay */
    .essay-intro-container {
        margin: 2rem 0 0;
    }

    .essay-intro {
        padding: 0 15%;
        font-size: 12px;
    }

    .essay-intro-note {
        padding: 0 15%;
        font-size: 11px;
    }

    /* pullquote */
    .pullquote {
        font-size: 2.25rem;
        padding: 0 15%;
        margin: 0 0 10px;
    }

    .pullquote2 {
        font-size: 2.25rem;
        padding: 0 15%;
        margin: 40px -20px 10px 40px;
    }

    /* navigation */
    .sidemenuContainer {
        width: 60px;
    }

    .sidemenuUL {
        padding-left: 17px;
    }

    /* quote */
    .quoteStyle {
        padding: 0 19.5%;
    }

    /* represented works */
    .rep-container {
        width: 70vw;
    }

    .rep-row {
        flex-direction: column;
    }
    
    .rep-imgstyle {
        width: 100%;
        margin-bottom: 2rem;
    }
    
    .rep-imgstyle:last-child {
        margin-bottom: 0;
    }

    .rep-defaultstyle {
        display: none;
    }

    .rep-defaultstyleJP {
        display: none;
    }

    .rep-defaultstyle_mobile {
        display: block;
        font-size: 12px;
    }
    
    .rep-defaultstyleJP_mobile {
        display: block;
        font-size: 12px;
    }

    .exInfoDesktopEN {
        display: none;
    }

    .exInfoPhoneEN {
        display: inline;
    }
}

/* iphone 5 or smaller */
@media screen and (max-width: 320px) {
    /* navigation */
    .sidemenuContainer {
        width: 55px;
    }

    .sidemenuUL {
        padding-left: 14px;
        font-size: 95%;
    }
}
