@media screen and (max-width: 576px) {

    /* Early Access */
    .containerstyle {
        width: 94%;
        margin: 1rem auto 2rem !important;
    }

    .containerstyle.notFirst {
        margin: 0 auto 3rem !important;
    }

    /* Navigation Links */
    .navigationLinks {
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 0;
        margin-bottom: 2rem;
    }

    .navLinksItem {
        margin-bottom: 0.66rem;
        letter-spacing: 0;
    }

    .navLinksItemJP {
        margin-bottom: 0.5rem;
    }

    /* video VIP page 1 */  
    .iframe {
        width: 94%;
        margin-bottom: auto 0;
    }

    .iframe:first-child {
        margin-bottom: 0;
    }

    .video-responsive-vip {
        position: relative;
        top: -4rem;
    }

    .video-responsive2-vip {
        position: relative;
        top: -12rem;
        margin-bottom: 0;
    }

    .video-responsive3-vip {
        position: relative;
        top: -12rem;
    }

    /* Fullwidth Horizontal */
    .workcontainer {
        width: 100%;
        margin: auto;
        margin-bottom: 2rem;
    }

    .fullwidthVIPimage {
        width: 75% !important;
    }

    .captions {
        width: 75% !important;
        margin-bottom: 3rem;
    }

    .VIPtitle {
        padding-bottom: 0.3rem;
        font-size: 26px;
        color: black;
    }

    .VIPtitleJP {
        color: black;
    }

    .VIPcaptionitem {
        line-height: 1.1;
        margin-bottom: 0.2rem;
        font-size: 14px;
        color: #404040;
    }

    .VIPcaptionitem:last-child {
        margin-bottom: 2rem;
    }
    
    .VIPcaptionitemJP {
        font-size: 14px;
        color: black;
    }
    
    .VIPcaptionitemJP:last-child {
        margin-bottom: 1.5rem;
    }

    /* Fullwidth Horizontal with Text */
    .textAndCaptions {
        flex-direction: column-reverse;
    }

    .VIPtext {
        font-size: 12px;
        margin-bottom: 0;
        color: black;
        font-size: 16px;
    }

    .VIPtextJP {
        color: black;
        font-size: 14px;
        line-height: 1.6;
    }

    .fullwidthText_mobileCaptions {
        width: 100% !important;
        margin-top: 0 !important;
    }

    /* Halfwidth Horizontal */
    .VIP-halfwidth-variation-container {
        margin-bottom: 1rem;
        flex-direction: column;
    }

    .VIP-halfwidth-content1 {
        width: 75% !important;
        margin-bottom: 1rem;
    }

    .VIP-halfwidth-content2 {
        width: 75% !important;
    }

    /* Halfwidth Horizontal with Text */
    .VIPtextVert {
        font-size: 16px;
        color: black;
        padding: 0;
    }

    .VIPtextVertJP {
        padding: 0;
        line-height: 1.6;
        color: black;
    }

    .VIP-halfwidthText-container {
        width: 75%;
        margin-bottom: 2rem;
    }


    .VIP-halfwidthText-row {
        flex-direction: column;
    }

    .VIP-halfwidthText-col6 {
        width: 100%;
    }

    .VIP-halfwidthText-inner-left {
        margin: auto;
    }

    .VIP-halfwidthText-inner-right {
        width: 75vw;
        margin: auto;
        /* padding-top: 2rem; */
    }

    .VIP-halfwidthText-img-vert {
        width: 100% !important;
    }

    .VIP-halfwidthText-caption {
        margin: 0 auto 0rem;
        padding-bottom: 0rem;
        width: 100% !important;

    }

    /* vipPhone only */
    .theCaptions {
        margin-bottom: 1rem;
        width: 100% !important;
    }
}

@media screen and (max-width: 768px) {
    .navLinksItem {
        font-size: 16px;
    }

    .navLinksItemJP {
        font-size: 15px;
    }


}