/* phone */
@media screen and (max-width: 576px) {

    /* exhibition title */
    .title-styleJP {
        font-size: 2rem;
    }

    .title-datesJP {
        font-size: 12px;
        margin-bottom: 40px;
    }

    /* default text block */
    .defaultstyleJP {
        padding: 0 15%;
        letter-spacing: 0;
    }

    /* video */
    .video-responsive {
        position: relative;
        top: -5rem;
    }

    .video-responsive2 {
        position: relative;
        top: -6rem;
        margin-bottom: 0;
    }

    .iframe {
        margin-bottom: 0;
    }

    /* text left image right */
    .text-left-flexboxJP {
        flex-direction: column;
        justify-content: center;
        width: 70vw;
        margin: 0 15%;
    }

    .text-left-containerJP {
        width: 100vw;
        margin-left: 30vw;
    }

    .text-right-containerJP {
        width: 100vw;
        margin-left: 30vw;
    }

    .text-left-imageJP {
        width: 70vw;
    }

    .text-left-left-columnJP {
        width: 70vw;
        letter-spacing: 0;
        margin-bottom: 2rem;
    }

    .text-right-left-columnJP {
        width: 70vw;
        letter-spacing: 0;
        margin-bottom: 1rem;
    }

    .text-left-captionJP {
        width: 70vw;
        margin-bottom: 1.5rem;
        /* margin: 0.5rem 0 2rem 0; */
    }

    /* parts */
    .parts-headerJP {
        margin-bottom: 2rem;
        padding: 40px 15% 10px;
        font-size: 1.4rem;
    }

    /* quick link */
    .quicklinkJP {
        padding: 0 15%;
        flex-direction: column;
    }

    .quicklink-pJP {
        margin-bottom: 0.2rem;
    }

    .not-mobileJP {
        display: none;
    }

    .mobileJP {
        display: inline;
    }

    .read-more-or-lessJP {
        margin: 0 15% 3rem;
    }

    .endnotesJP {
        padding: 0 15%;
    }

    /* intro to essay */
    .essay-intro-containerJP {
        line-height: 1.6;
        font-size: 13px;
        color: grey;
        padding: 0 15%;
    }

    .essay-introJP {
        margin: 2rem 0 0;
        padding: 0;
    }

    /* timeline */
    .timeline-containerJP {
        width: 70vw;
        font-size: 12px;
        margin: 0 auto 2rem;
    }

    /* section header */
    .section-headerJP {
        margin-bottom: 1rem;
        padding: 40px 15% 0;
    }

    .container {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}